<a href="https://colab.research.google.com/github/Kesigan/googlecolab/blob/main/firstlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
df = pd.read_csv("drive/MyDrive/ColabNotebooks/Names_Dataset.csv")
df.head()

   Unnamed: 0    names nationality
0           0  Gershon     yiddish
1           1    Lantz     yiddish
2           2    Zaide     yiddish
3           3   Zalman     yiddish
4           4   Zindel     yiddish